.main-page-banner{
  background-position: 0 0;
  background-repeat:no-repeat;
  background-size:100%;
  padding-top: 41.0256%;
  position: relative;
}
.main-page-banner .btn {
text-transform: uppercase;
}
.main-page-banner .text{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.main-page-banner .text-content{
  position: absolute;
  top:0;
  left:40px;
  height: 100%;
}
